@font-face {
    font-family: 'droid_serif';
    src: url('../fonts/DroidSerif-Regular-webfont.eot') format('eot');
    src: url('../fonts/DroidSerif-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'droid_sans';
    src: url('../fonts/DroidSans-webfont.eot') format('eot');
    src: url('../fonts/DroidSans-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'droid_sans';
    src: url('../fonts/DroidSans-Bold-webfont.eot') format('eot');
    src: url('../fonts/DroidSans-Bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
html {
  text-shadow: 0.05em 0.05em 0.01em #000000; 
  color: #e6e8eb;
}

body {
  font-size: 25px;
  font-family: droid_serif, serif;
}

h1, h2 {
  font-family: droid_sans, sans-serif;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}
body {
  background-color: #2f353b;
  text-align: center;
}
section img {
  width: 4em;
  height: 4em;
  border-radius: 50%;
  background-color: #909ba6;
  box-shadow: 0.05em 0.05em 0.01em #000000;
}
select {
  display: block;
  margin: 0 auto;
}
select, option {
  background-color:  #909ba6;
  color: #e6e8eb;
  text-shadow: 0.05em 0.05em 0.01em #000000;
  font-size: 0.7em;
}
option {
  font-size: 1em;
  color: #000000;
}

@media (max-width: 768px) {
  body {
    font-size: 20px;
  }
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1.2em;
  }
}